@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #30bf84;
  --color-primary-dark: #43e5a2;
  --color-secondary: #878484;
  --color-secondary-dark: #c7c7c7;
  --color-menu-primary: #30bf84;
  --color-menu-primary-dark: #43e5a2;
  --color-menu-secondary: #188c5c;
  --color-menu-secondary-dark: #2ba16e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

